<section class="container" py-4>
  <h2 class="text-center my-3">{{ section.settings.title }}</h2>
  <div class="row">
    {% for product in collections[section.settings.featured_collection].products
    %} {% assign image = product.featured_media.preview_image %}
    <div class="col">
      <div class="card" style="width: 18rem">
        {% if image != blank %}
        <img
          class="card-img-top"
          src="{{ image | img_url: 'small' }}"
          alt="{{ product.title }}"
        />
        {% else %}
        {{ "product-1" | placeholder_svg_tag: "card-img-tag" }}
        {% endif %}

        <div class="card-body">
          <h3>
            <a href="{{ product.url }}">{{ product.title }}</a>
          </h3>
          <p>{{ product.price | money_with_currency }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% schema %} { "name": "featured collection", "class":
"featured-collection-section", "settings": [{ "type": "collection", "id":
"featured_collection", "label": "Collection" }, { "type": "text", "id": "title",
"default": "Featured Collection", "label": "Title" }], "presets": [{ "category":
"Collection", "name": "Featured Collection" }] } {% endschema %}
